.settings-list ul li a {
    color: #45464c !important;
}

.settings-list ul li a:hover {
    text-decoration: none;
}

*,
 :after,
 :before {
    box-sizing: border-box;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row:after,
.row:before {
    content: " ";
    display: table;
}

:before {
    margin: 0;
}

div {
    display: block;
}

.settings-container {
    border-top: 1px solid #d7d7d7;
    padding: 30px 0;
}

.settings-block {
    border: 1px solid #d7d7d7;
    margin-bottom: 30px;
}

.settings-block-header {
    padding: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.settings-block-header-column {
    -webkit-box-flex: 50%;
    -webkit-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
}

.settings-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.settings-list ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.settings-list ul li {
    border-top: 1px solid #d7d7d7;
}

.settings-list_item {
    padding: 20px;
    width: 100%;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.settings-list_item-column {
    -webkit-box-flex: 50%;
    -webkit-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
}

.settings-icon {
    width: 25px;
    height: 20px;
    margin-right: 12px;
}

.list-section ul li a {
    color: #858796 !important;
}

.list-section ul li a:hover {
    text-decoration: none;
}

.subscription-section {
    border: 0.5px solid gray;
}


/* Companies */

.bc-wrap {
    color: #8e8e98;
    border-bottom: 1px solid #ececec;
}

.settings-section-header-title[_ngcontent-c20] {
    color: #4e5e6a;
}

[_nghost-c22] .description-text-styles[_ngcontent-c22] {
    font-weight: 100 !important;
    font-size: 10px;
    line-height: 25px !important;
}

.company-item__img-bg[_ngcontent-c23] {
    width: 100%;
    height: 130px;
    background-color: #d7d7d7;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.company-item__img[_ngcontent-c23] {
    width: 130px;
    height: 130px;
    display: inline-block;
    margin-right: 20px;
}

.company-item__img-bg[_ngcontent-c23] i[_ngcontent-c23] {
    font-size: 50px;
}

.company-item__main[_ngcontent-c23] {
    width: 100%;
}

.company-item__main-header[_ngcontent-c23] {
    padding-bottom: 15px;
    padding-top: 5px;
    border-bottom: 1px solid #e1e1e1;
}

.company-item[_ngcontent-c23] {
    background-color: #f9f9f9;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    min-height: 170px;
    border: 1px solid #f9f9f9;
    margin-bottom: 30px;
}

.company-item__main-block[_ngcontent-c23] {
    padding-top: 10px;
    padding-bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.company-item__buttons[_ngcontent-c23] {
    padding-top: 20px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.btn .fa,
.btn .fi {
    color: #949494;
    font-size: inherit;
    padding-right: 7px;
    line-height: normal;
}

.fi-edit:before,
.ion-md-fi-edit:before,
.ion-ios-fi-edit:before,
.ion-ios-fi-edit-outline:before {
    content: '\e924';
}

.drop-zone[_ngcontent-c12] {
    background: #f9f9f9;
    border: 1px solid #f3f3f3;
    overflow: hidden;
}

[_nghost-c13] {
    display: flex;
    align-items: center;
    height: 180px;
    background: #fff;
    cursor: pointer;
    color: #717386;
    border: 2px dashed #717386;
    border-radius: 5px;
    font-size: 16px;
    overflow-x: auto;
}

[_nghost-c13] input[_ngcontent-c13] {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.btn-import:before {
    content: "\f0ee";
    /* font-family: 'Font Awesome 5 Free'; */
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
}

body {
    background: #f1f1f1;
    font-family: 'Roboto', sans-serif;
}

.contact-form {
    font-family: 16px;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}

.contact-form .separator {
    border-bottom: solid 1px #ccc;
    margin-bottom: 15px;
}

.contact-form .form {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.contact-form_title {
    color: #333;
    text-align: left;
    font-size: 28px;
}

.contact-form input[type="email"],
.contact-form input[type="text"],
.contact-form textarea {
    border: solid 1px #e8e8e8;
    font-family: 'Roboto', sans-serif;
    padding: 10px 7px;
    margin-bottom: 15px;
    outline: none;
}

.contact-form textarea {
    resize: none;
}

.contact-form .button {
    background: #4e73df;
    border: solid 1px #4e73df;
    color: white;
    cursor: pointer;
    padding: 10px 50px;
    text-align: center;
    text-transform: uppercase;
}

.contact-form .button:hover {
    background: #7c93d6;
    border: solid 1px #7c93d6;
}

.contact-form input[type="email"],
.contact-form input[type="text"],
.contact-form textarea,
.contact-form .button {
    font-size: 15px;
    border-radius: 3px
}

/* not required */
*,:active{
    outline: none;
}
*{
    padding: 0px;
    margin: 0px;
}

body{
    margin: 20px;
    background-color: #EEEDE9;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 96.5%;
    font-family: Helvetica, Arial, sans-serif;
}

input{
    font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, p{
    margin-bottom: 10px;
}

p{
    line-height: 20px;
}

a{
    text-decoration: none;
    color: #FF462B;
}

.clearfix{
    clear: both;
}

.animate{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/* required */
.calendar{
    position: absolute;
    border-radius: 4px;
    overflow: hidden;
    width: 800px;
    height: 450px;
    left: 50%;
    margin-left: -400px;
    margin-top: -225px;
    top: 50%;
    background-color: #ffffff;
    color: #333333;
}

.calendar h1, .calendar h2{
    font-weight: 300;
    font-size: 26px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0px 0px 20px 0px;
}

.calendar h1 span{
    display: block;
}

.calendar .col{
    position: relative;
    float: left;
    height: 100%;
}

.calendar .col .content{
    padding: 40px;
}

.calendar ul{
    margin: 0px;
}

.calendar ul li{
    list-style: none;
}

.calendar .leftCol{
    width: 40%;
    background-color: #F48989;
}

.calendar .noteList li{
    color: #ffffff;
    margin-bottom: 10px;
}

.calendar .notes p,
.calendar .notes input,
.calendar .noteList li{
    font-weight: 300;
    font-size: 14px;
}

.calendar .notes p{
    border-bottom: solid 1px rgba(255,255,255,0.4);
}

.calendar .notes input{
    background-color: #F48989;
    color: #ffffff;
    border: none;
    width: 200px;
}

.calendar .addNote,
.calendar .removeNote{
    float: right;
    color: rgba(255,255,255,0.4);
    font-weight: bold;
    margin-left: 20px;
}

.calendar .addNote:hover,
.calendar .removeNote:hover{
    color: #ffffff;
}

.calendar .addNote{
    font-size: 16px;
}

.calendar .leftCol h1{
    color: #ffffff;
    margin-bottom: 40px;
}

.calendar .rightCol{
    width: 60%;
}

.calendar .rightCol h2{
    color: #C7BEBE;
    text-align: right;
    margin-bottom: 70px;
}

.calendar .months li,
.calendar .weekday li,
.calendar .days li{
    float: left;
    text-transform: uppercase;
}

.calendar .months li a,
.calendar .weekday li a,
.calendar .days li a{
    display: block;
    color: #747978;
}

.calendar .months li a{
    font-size: 10px;
    color: #C7BEBE;
    text-align: center;
    width: 32px;
    margin-bottom: 20px;
}

.calendar .months li .selected{
    font-weight: bold;
    color: #747978;
}

.calendar .weekday li a{
    width: 55px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px;
}

.calendar .days li{
    width: 55px;
}

.calendar .days li a{
    width: 36px;
    height: 24px;
    text-align: center;
    margin: auto auto;
    font-size: 12px;
    font-weight: bold;
    border-radius: 12px;
    margin-bottom: 10px;
    padding-top: 10px;
}


.calendar .days li a:hover{
    background-color: #EEEDE9;
}

.calendar .days li .selected{
    background-color: #F5A1A3!important;
    color: #ffffff;
}

.calendar .days li .event{
    color: #F5A1A3;
}


